@model CK_Holding_WebCoursework.Models.AnnoucementDetailsViewModel

@if (User.IsInRole("Employee"))
{
    <p class="centerButtons">
        <a class="buttonsubmit" asp-action="Edit" asp-route-id="@Model.Annoucement.Id">Edit</a>
        <a class="buttonsubmit" asp-action="Delete" asp-route-id="@Model.Annoucement.Id">Delete</a>
    </p>
}
<div id="wrapparForAnnWithComments">
    <article id="annWithComments">
        <header>
            <a><h4><b>@Html.DisplayFor(model => model.Annoucement.Title)</b></h4></a>
        </header>
        @{
            if (Model != null && !String.IsNullOrEmpty(Model.Annoucement.ImageName))
            {
                <a href='@Html.DisplayFor(model => model.Annoucement.ImageName)' data-lightbox="picture_one">
                    <img class="annImage" src='@Html.DisplayFor(model => model.Annoucement.ImageName)' data-lightbox="picture_one" />
                </a>
            }
        }

        <p>@Html.DisplayFor(model => model.Annoucement.Description)</p>
        <footer>
            @if (User.IsInRole("Employee"))
            {
                <p style="float: left;">View Counter: @Html.DisplayFor(model => model.Annoucement.counter)</p>
            }
            <p style="float: right;"><b>@Html.DisplayFor(model => model.Annoucement.UserName)</b> @Html.DisplayFor(model => model.Annoucement.DateAndTimeOfPost)</p>


        </footer>


    </article>
    <div class="comments">
        @foreach (var item in Model.Comments)
        {
            <div>
                <label id="commentHeading">
                    <b>@Html.DisplayFor(modelItem => item.UserName)</b>
                </label>
                <br />
                <p id="commentText">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
                @{
                    int size = Model.Comments.Count;
                    if (Model.Comments.IndexOf(item) != size - 1)
                    {
                        <div class="line"></div>
                    }
                }

            </div>
        }

        @if (User.IsInRole("Employee") || User.IsInRole("Customer"))
        {

            <form asp-action="Details">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="AnnoucementID" value="@Model.Annoucement.Id" />
                <div class="form-group">

                    <input asp-for="Description" class="defaultTextArea" placeholder="Post a message" />



                    <input type="submit" value="Save" class="buttonsubmit" />
                </div>
            </form>


            @*@*<div class="row">
                                <div>

                                        <form asp-controller="Details">
                                            <div asp-validation-summary="ModelOnly" class="message"></div>
                                            <input type="hidden" asp-for="AnnoucementID" value="@Model.Annoucement.Id" />
                                            <div class="form-group">
                                                <div>
                                                    <input asp-for="Description" class="defaultTextArea" placeholder="Post a message" />
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                           </div>
                                                <div>
                                                    <div class="form-group">
                                                        <input type="submit" value="Save" class="btn btn-default" />
                                                    </div>
                                                </div>
                </form>

                                </div>
                            </div>*@
        }
    </div>
</div>

@*@{
        ViewData["Title"] = "Details";
    }

    <h2>Details</h2>

    <div>
        <h4>Annoucement</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Annoucement.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Annoucement.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Annoucement.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Annoucement.Description)
            </dd>
            <dt>
                Date and Time of Post:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Annoucement.DateAndTimeOfPost)
            </dd>
            <dt>
                Posted By:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Annoucement.UserName)
            </dd>
            @if (User.IsInRole("Employee"))
            {
                <dt>
                    View Counter:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Annoucement.counter)
                </dd>
            }
        </dl>
    </div>

    <table class="table">
        <thread>
            <tr>
                <th>
                    Comments
                </th>
                <th>
                    Posted By
                </th>
            </tr>
        </thread>
        <tbody>
            @foreach (var item in Model.Comments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Annoucement.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model.Annoucement.Id">Delete</a> |
        <a asp-action="Index">Back to List</a>
    </div>


    @if (User.IsInRole("Employee") || User.IsInRole("Customer"))
    {
        <h4>Make A Comment</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Details">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="AnnoucementID" value="@Model.Annoucement.Id" />
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    }*@

<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true,
        'disableScrolling': true,
        'resizeDuration': 600
    })
</script>
