@model CK_Holding_WebCoursework.Models.AnnoucementDetailsViewModel

@if (User.IsInRole("Employee"))
{
    <p class="centerButtons">
        <a class="buttonsubmit" asp-action="Edit" asp-route-id="@Model.Annoucement.Id">Edit</a>
        <a class="buttonsubmit" asp-action="Delete" asp-route-id="@Model.Annoucement.Id">Delete</a>
    </p>
}
<div id="wrapparForAnnWithComments">
    <article id="annWithComments">
        <header>
            <a><h4><b>@Html.DisplayFor(model => model.Annoucement.Title)</b></h4></a>
        </header>
        @{
            if (Model != null && !String.IsNullOrEmpty(Model.Annoucement.ImageName))
            {
                <a href='@Html.DisplayFor(model => model.Annoucement.ImageName)' data-lightbox="picture_one">
                    <img class="annImage" src='@Html.DisplayFor(model => model.Annoucement.ImageName)' data-lightbox="picture_one" />
                </a>
            }
        }

        <p>@Html.DisplayFor(model => model.Annoucement.Description)</p>
        <footer>
            @if (User.IsInRole("Employee"))
            {
                <p style="float: left;">View Counter: @Html.DisplayFor(model => model.Annoucement.counter)</p>
            }
            <p style="float: right;"><b>@Html.DisplayFor(model => model.Annoucement.UserName)</b> @Html.DisplayFor(model => model.Annoucement.DateAndTimeOfPost)</p>


        </footer>


    </article>
    <div class="comments">
        @foreach (var item in Model.Comments)
        {
            <div>
                <label id="commentHeading">
                    <b>@Html.DisplayFor(modelItem => item.UserName)</b>
                </label>
                <br />
                <p id="commentText">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
                @{
                    int size = Model.Comments.Count;
                    if (Model.Comments.IndexOf(item) != size - 1)
                    {
                        <div class="line"></div>
                    }
                }

            </div>
        }

        @if (User.IsInRole("Employee") || User.IsInRole("Customer"))
        {

            <form asp-action="Details">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="AnnoucementID" value="@Model.Annoucement.Id" />
                <div class="form-group">

                    <input asp-for="Description" class="defaultTextArea" placeholder="Post a message" />



                    <input type="submit" value="Save" class="buttonsubmit" />
                </div>
            </form>
        }
    </div>
</div>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true,
        'disableScrolling': true,
        'resizeDuration': 600
    })
</script>
